.tile{
    box-shadow: 0 4px 24px -8px rgba(176, 242, 255, 0.598);
    padding: 24px;
    border-radius: 24px;
    border-color: rgb(0, 0, 0);
    position: relative;
    transition: all 400ms ease;
}
.tile .tile:hover {
    transform: scale(1.05);
}