:root {
  --main-bg-color: #121212;
  --main-color: #fbfbff;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

#signup, #profile, #dashboard, #explore, #jobs {
  color: var(--main-color);
}

#root {
  height: 100%;
}

#signup {
  height: 100%;
}

