.signup-box {
    margin: auto;
    width: 35%;
}

#signup {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.signup-box > * {
    text-align: center;
    padding: 10px;
}

#class-select {
    width: 100%;
}

#class-select > * {
    width: 100%;
}

.signup-btn {
    width: 100%;
}

#signup-form > * {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

.slabel {
    display: block;
}