.signup-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 35%;
    margin: 30px;
}

.signup-box > * {
    text-align: center;
    padding: 30px;
}

#signup-form > * {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

.slabel {
    display: block;
}